@font-face{
  font-family: 'ClashRoyale';
  src: url(fonts/You_Blockhead.ttf);
}

body{
  font-family:'ClashRoyale', sans-serif;
  padding: 0;
  margin: 0;
}


section{
  display: grid;
  grid-template-rows: 800px 200px;
  grid-template-columns: 1fr;
}

header{
  justify-content: space-between;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3{
  padding: 2rem;
}

.nav > h3 > a:hover{
  font-size: 15px;
  transition: 0.3s;
}

h3:hover{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
  transition: 0.3s ;
}

.videoholder{
  
  background-size: cover;
  background-image: url("/images/69753-Clash-Royale-HD-Wallpaper.jpg");

  width: auto;
  background-color: grey;
}

.logoholder{
  width: auto;

}

.logoholder > div:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 350px;
  width: 350px;
  margin-left: 200px;
  margin-top: -250px;
  border-radius: 32px;
  background-color: white;
  
}

.logoholder > div:nth-child(2){
    
  
}


.logoholder > div > img{
  height: 300px;
  width: 300px;
  border-radius: 32px;
}