@font-face{
    font-family: 'ClashRoyale';
    src: url(fonts/You_Blockhead.ttf);
}

body{
    font-family:'ClashRoyale', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 83px 4fr auto;
}

header{
    justify-content: space-between;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/-1; 
}

header > h1{
    padding-left: 2.5%;
}

h1 > img{
    height: 50px;
    width: 50px;
}

img{
    width: 95%;
    border-radius: 25px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 1/-1;

}

footer img{
    height: 110px;
    width: 110px;
    justify-self: flex-end;
}

footer p{
    position: absolute;
    left: 0%;
    padding-left: 3rem;
    font-size: 10px;
}


footer p:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    footer p{
      font-size: 8px;
      width: 150px;
    }

    footer img{
        height: 80px;
        width: 80px;
    }
    footer p {
        padding-left: 1rem;
    }

    header .nav{
        display: none;
    }
    video{
        height: 85vh;
    }
  }

  @media only screen and (max-width: 500px) {


    body, .wrapper{
        overflow-y: hidden;
    }
    footer p{
        display: none;
        padding-bottom: 3rem;
      }
  
      footer img{
        display: none;
        padding-bottom: 3rem;
      }
  }
  
a{
    text-decoration: none;
    color: white;
}

footer > p > a{
    opacity: 70%;
}

footer > p > a:hover{
    opacity: 100%;
}

.txt{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 4rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.lightdark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
}

h3{
    padding: 2rem;
    position: relative;
    display: inline-block;
}

a{
    transition: 0.3s ;
}

.nav > h3 > a:hover{
    font-size: 15px;
    transition: 0.3s;
}

h3:hover{
    cursor: pointer;
}

.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}